@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: rgba(255, 255, 255, 1);
  --foreground: rgba(23, 23, 23, 1);

  --blue: rgba(0, 122, 255, 1);

  --black: rgba(15, 15, 17, 1);
  --black-bg: rgba(8, 8, 18, 1);
  --black-bg-48: rgba(8, 8, 18, 0.48);
  --black-bg-80: rgba(8, 8, 18, 0.8);
  --black-64: rgba(15, 15, 17, 0.64);
  --black-24: rgba(15, 15, 17, 0.24);

  --white: rgba(255, 255, 255, 1);
  --white-56: rgba(255, 255, 255, 0.56);
  --white-24: rgba(255, 255, 255, 0.24);
  --white-12: rgba(255, 255, 255, 0.12);

  --gray-dark: rgba(26, 26, 29, 1);
  --gray: rgba(92, 93, 109, 1);
  --gray-light: rgba(247, 247, 247, 1);

  --green: rgba(8, 194, 96, 1);
  --red: rgba(255, 40, 58, 1);

  /* shadcn */
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-blue: var(--blue);

  --color-black: var(--black);
  --color-black-bg: var(--black-bg);
  --color-black-bg-48: var(--black-bg-48);
  --color-black-bg-80: var(--black-bg-80);
  --color-black-64: var(--black-64);
  --color-black-24: var(--black-24);

  --color-white: var(--white);
  --color-white-56: var(--white-56);
  --color-white-24: var(--white-24);
  --color-white-12: var(--white-12);

  --color-gray-dark: var(--gray-dark);
  --color-gray: var(--gray);
  --color-gray-light: var(--gray-light);

  --color-green: var(--green);
  --color-red: var(--red);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* shadcn */
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

html {
  font-size: 16px;
}

body {
  width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply cursor-pointer;
  }
  * {
    @apply border-border outline-ring/50;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .col-center {
    @apply flex flex-col items-center justify-center;
  }

  .abs-center {
    @apply absolute top-1/2 left-1/2 -translate-1/2;
  }

  .abs-x-center {
    @apply absolute left-1/2 -translate-x-1/2;
  }

  .abs-y-center {
    @apply absolute top-1/2 -translate-y-1/2;
  }

  .scrollbar::-webkit-scrollbar {
    width: 0.5rem;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-gray);
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-blue);
  }

  .h-underline,
  .h-underline-r {
    position: relative;
  }

  .h-underline::before,
  .h-underline-r::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    background-color: currentColor;
    transition: width 0.3s ease;
  }

  .h-underline:hover::before,
  .h-underline-r::before {
    width: 0;
  }

  .h-underline-r:hover::before,
  .group:hover .h-underline-r::before,
  .h-underline::before,
  .group:hover .h-underline::before {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: clamp(12px, 1.1111111111vw, 16px);
  }
}
